/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.category-name {
  color: red;
  width: 500px;
  border: 1px solid black;
}

#categories {
  border: 1px solid black;
}

.heading {
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 20px 4px;
}

.parent {
  text-align: center;
  margin: 0;
  padding: 0;
}

.notice,
.alert {
  display: none;
}

.navbar-nav {
  background-color: aqua;
  width: auto;
}

#user_name,
#user_email,
#user_password,
#user_password_confirmation {
  width: 100%;
  margin: 5px;
  padding: 0;
}

.login,
.signup {
  width: 100px;
  margin: 2px;
}

.register,
.loginpage,
.category {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(54, 54, 196);
}

.footer {
  text-align: center;
}

.cate,
.heading-cate {
  color: antiquewhite;
  text-decoration: none;
}

.cate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-page {
  margin: 2px;
}

.render-list,
.cate-name {
  display: flex;
}

.cate-name {
  justify-content: space-between;
}
